body {
    background: rgb(225, 230, 223);
    /* font-family: Arial, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    /* width: 1024px; */
    width: 75%;
    margin: 0 auto;
    
}

header {
    /* width: 1024px; */
    width: 100%;
    /* width: auto; */
    margin: 0 auto;
}

.mainmenu {
    /* width: 1024px; */
    width: 100%;
    margin: 0 auto;
}

ul.mainmenu {
	list-style: none;
	background: #3F4137;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 0px 0 30px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

.container{
    /* width: 1024px; */
    width: 75%;
	margin: 0px 20px 0px;
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color: #473927;
   }

.map img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.btn {
    margin-top: 10px;
    background-color: rgb(212, 210, 221);
    width: 250px;
    height: 30px;
    border-radius: 5px;font-size: 20px;
}

/* table {
    font-size: 10px;
} */
